@import '../../assets/colors.scss';

.overAll {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  max-height: 800px;
  padding: 70px 0;
}

.registration {
    display: flex;
    flex-direction: column;
}  

input {
  height: 2vw;
  margin-top: -20px;
}

button {
  margin-top: 25px;
  height: 50px;
  border-radius: 15px; 
  cursor: pointer;
  &:hover {
  background-color: $green;
  }
} 

h2 {
  text-align: center;
  margin-top: -2px;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
  min-height: 1.2em; 
  max-width: 400px;
}
