@import '../../assets/colors.scss';

.nav-list {
    list-style: none;
    display: flex;
    padding: 1;
    margin: 0;
    background-color: $primary-color;
    border-bottom: 3px solid $secondary-color;
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    display: block;
    padding: 15px 20px;
    color: $secondary-color;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.nav-list a:hover {
    background-color: $secondary-color;
    color: black;
}

.active {
    background-color: $secondary-color;
    color: black !important;
    text-decoration: underline !important;
}

button {
    position: absolute;
    right: 0;
    margin-right: 35px;
    height: 40px;
    width: 100px;
    &:hover {
        background-color: black;
        color: white;
    }
}

