@import '../../../assets/colors.scss';

.overAll {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.login {
    display: flex;
    flex-direction: column;
}  

input {
  height: 2vw;
}

button {
  margin-top: 25px;
  height: 50px;
  border-radius: 15px; 
  cursor: pointer;
  &:hover {
  background-color: $green;
  }
} 

h2 {
  text-align: center;
}